* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    background-color: rgb(14, 14, 14);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 52rem;
    height: 38rem;
    background-color: black;
    overflow: hidden;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    width: 52rem;
    height: 38rem;
    background-color: black;
    border-radius: 1rem;
}

.img {
    width: 52rem;
    object-fit: contain;
    border-radius: 1rem;
}

.lower-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 52rem;
    margin: 2rem auto;
}

.label {
    font-family: Tahoma, sans-serif;
    font-size: 1.5rem;
    color: rgb(211, 226, 226);
}

.controls {
    display: flex;
}

.dot__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(211, 226, 226);
    border-radius: 50%;
    border: .1rem solid rgb(46, 85, 158);
}

.radio {
    display: none;
}

.dot__wrapper:hover {
    cursor: pointer;
}

.dot:hover {
    background-color: rgb(104, 224, 224);
    cursor: pointer;
}