* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    height: 100vh;
    padding: 3rem;
    background-color: rgb(14, 14, 14);
}

.slider {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    margin: 0 auto;
    max-width: 58rem;
    width: 90vw;
    height: 70vh;
    background-color: black;
    overflow: hidden;
    border-radius: 1rem;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.img {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    height: 70vh;
    object-fit: contain;
}

.lower-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 58rem;
    margin: 3rem auto;
}

.text-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    width: 60%;
    overflow: hidden;
}

.text {
    font-family: Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    letter-spacing: .1rem;
}

.controls {
    display: flex;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.radio {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    border: .2rem solid white;
    cursor: pointer;
}

.label:hover {
    cursor: pointer;
}

.radio:hover {
    background-color: rgb(114, 126, 126);
    cursor: pointer;
}

.radio:checked, .radio:active {
    background-color: rgb(14, 14, 14)
}

.dot:active {
    background-color: rgb(14, 14, 14);
}