* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 3rem 0;
    background-color: black;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 70%;
    overflow: hidden;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 36rem;
    background-color: black;
    border-radius: 1rem;
}

.img {
    object-fit: scale-down;
    border-radius: 1rem;
}